<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452046785925-o2jom5fik8i9gq3drnjgu8c5vha16852.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452046785925-o2jom5fik8i9gq3drnjgu8c5vha16852</string>
	<key>API_KEY</key>
	<string>AIzaSyBn1t0xIfPq20jHs5k2Lup8WyZs0JgtAwE</string>
	<key>GCM_SENDER_ID</key>
	<string>452046785925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sartUpProject</string>
	<key>PROJECT_ID</key>
	<string>my-weather-2e1fd</string>
	<key>STORAGE_BUCKET</key>
	<string>my-weather-2e1fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452046785925:ios:be5e5399ce493f432208ec</string>
</dict>
</plist>